<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starry.sky.infrastructure.orm.base.SysAdminPermissionMapper">
  <resultMap id="BaseResultMap" type="com.starry.sky.infrastructure.orm.po.SysAdminPermission"
             extends="com.starry.sky.infrastructure.orm.base.SysAdminUserMapper.baseEntity">
    <!--@mbg.generated-->
    <!--@Table sys_admin_permission-->
    <result column="title" jdbcType="VARCHAR" property="title" />
<!--    <collection property="listSysAdminMenu" ofType="com.starry.sky.infrastructure.orm.po.SysAdminMenu">-->
<!--      <result column="url" property="url" />-->
<!--    </collection>-->

<!--    <collection property="listSysAdminOperation"-->
<!--                ofType="com.starry.sky.infrastructure.orm.po.SysAdminOperation">-->
<!--      <result column="interceptUrlPrefix" property="interceptUrlPrefix" />-->
<!--      <result column="name" property="name" />-->
<!--      <result column="parentId" property="parentId" />-->
<!--      <result column="operationId" property="id" />-->
<!--    </collection>-->

  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `title`, ip, hide, create_time, update_time, `order`,updated_by
  </sql>
</mapper>